<ion-content>
  <div class="menu-header-bg"></div>
  <div class="header-content">
    <img class="img-perfil" src="../../assets/img/foto-perfil.jpg" alt="">
    <ion-label>
      <h2 class="nombre-perfil">Roberto Miguel Baños Cordero</h2>
      <p class="usuario-perfil">Usuario</p>
    </ion-label>
  </div>
  <div>
    <ion-list lines="none">
      <ion-item>
        <ion-icon name="home"></ion-icon>Domicilio
      </ion-item>
      <ion-item>
        <ion-icon name="at"></ion-icon>Correo Electronico
      </ion-item>
    </ion-list>
    <ion-button class="action-button">
      <ion-icon name="document"></ion-icon>Licencia
    </ion-button>
  </div>

</ion-content>